.tyrian-navbar .navbar-nav {
  .active {
    a, a:hover, a:focus {
      @include media-breakpoint-up(sm) {
        color: #eee;
        background-color: lighten($primary, 6%);
      }
      @include media-breakpoint-down(xs) {
        font-weight: 700;
      }
    }
  }
}

.tyrian-navbar {
  li {
    a:hover, a:focus {
      @include media-breakpoint-up(sm) {
        color: #eee;
        background-color: darken($primary, 4%);
      }
      @include media-breakpoint-down(xs) {
        font-weight: 700;
      }
    }
  }
}

@include media-breakpoint-up(sm) {
  .jumbotron {
    padding: 3rem 3.75rem;
  }
}

code {
  background-color: $code-bg;
}